# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment files
venv/
doc/
doc/Lib/site-packages/
doc/Scripts/

# Ignore uploaded files
uploads/*

# Ignore temporary or log files
*.log
*.tmp

